<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthService" />
                <binding name="BasicHttpBinding_IDatabaseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51305/AuthService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthService" contract="AuthServiceRef.IAuthService"
                name="BasicHttpBinding_IAuthService" />
            <endpoint address="http://localhost:51305/DatabaseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseService"
                contract="DbServiceRef.IDatabaseService" name="BasicHttpBinding_IDatabaseService" />
        </client>
    </system.serviceModel>
</configuration>